@import url(./reset.css);

body {
    background-color: #F3F5FC;
}

header {
    width: 100%;
    height: 96px;
}

.contenedor-logo {
    margin: auto;
    padding: 20px;
}

.contenedor-principal {
    width: 100%;
}

.contenedor-mensaje {
    display: flex;
    width: 98%;
    margin: auto;
}

#mensaje {
    width: 100%;
    height: 200px;
    padding: 10px;
    resize: none;
    margin: auto;
    background-color: #F3F5FC;
    border-style: none;
    color: #0A3871;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    text-align: center;
}

#mensaje:focus {
    border-style: none;
    outline: none;
}

#mensaje::placeholder{
    color: #0a3871af;
}